<html>
<head>
<link rel="stylesheet" href="index.css">
</head>
<body>


<form action="/add_bookmark" method="post">
  <label>Add bookmark good sir
    <input type="text" name="name">
    <input type="text" name="url">
    <input type="submit" name="add bookmark">
  </label>
</form>

<!-- <form action="/bookmarks" method="get">
  <label>View bookmarks
    <input type="submit" name="view bookmarks">
  </label>
</form> -->

<h2><center>
  <a href="/bookmarks">Please click to view bookmarks my friend!</a>
</center></h2>


</body>
</html>
